<div class="centered-content">
    <div class="modal-box has-background-light">
      <h1 class="title">
        Edit note
      </h1>
  
      <input #noteTitleInput class="input has-background-light is-medium" type="text" placeholder="Enter note ...">
      <br><br>
      <div class="buttons is-right">
        <button class="button is-medium" routerLink="/">Cancel</button>
        <button class="button is-primary has-text-white is-medium" (click)="updateNote(noteTitleInput.value)">Edit</button>
      </div>
    </div>
  </div>